@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

    <section>
        <form method="post">
            <div class="form-item">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-item">
                <button type="submit" class="btn btn-primary">ارسال</button>
            </div>
        </form>
        <div class="form-item">
            <p>
                <a asp-page="./Login">بازگشت</a>
            </p>
        </div>
    </section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
