@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
        <section>
            <form id="account" method="post">
                <div class="form-item">
                    <label asp-for="Input.StudentNumber"></label>
                    <input asp-for="Input.StudentNumber" class="form-control" />
                    <span asp-validation-for="Input.StudentNumber" class="text-danger"></span>
                </div>
                <div class="form-item">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-item">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-item">
                    <button type="submit" class="btn btn-primary">ورود</button>
                </div>
                <div class="form-item">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">رمز عبور را فراموش کردید؟</a>
                    </p>
                </div>
            </form>
        </section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
